In [4]:
###Load modules
import awscli
import boto3
import selenium
import pandas as pd
import time
from time import sleep
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.chrome.service import Service
from webdriver_manager.chrome import ChromeDriverManager

####SCRAPE THE WEBSITE######
###call the webdriver
s=Service(ChromeDriverManager().install())
browser = webdriver.Chrome(service=s)

#enter the url path that needs to be accessed by webdriver
browser.get('https://www.charitiesnys.com/RegistrySearch/search_charities.jsp')

#identify xpath of location to select element
inputElement = browser.find_element(By.XPATH,"/html/body/div/div[2]/div/table/tbody/tr/td[2]/div/div/font/font/font/font/font/table/tbody/tr[4]/td/form/table/tbody/tr[2]/td[2]/input[1]")
inputElement.send_keys('0')
inputElement1 = browser.find_element(By.XPATH,"/html/body/div/div[2]/div/table/tbody/tr/td[2]/div/div/font/font/font/font/font/table/tbody/tr[4]/td/form/table/tbody/tr[10]/td/input[1]").click()
sleep(4) #allow for the page to load by adding a sleep element
#identify the table to scrape
table = browser.find_element(By.CSS_SELECTOR,'table.Bordered')
sleep(1)
#####CREATE DATE FRAME#####
#create empty dataframe
df =[]

#loop through dataframe to export table
for row in table.find_elements(By.CSS_SELECTOR,'tr'):
      cols = df.append([cell.text for cell in row.find_elements(By.CSS_SELECTOR,'td')])


#update dataframe with header 
df = pd.DataFrame(df, columns = ["Organization Name", "NY Reg #", "EIN" ,"Registrant Type","City","State"])
display(df) #let's have a look at the data before creating the CSV file and loading it into s3

[WDM] - Downloading: 100%|█████████████████| 8.84M/8.84M [00:00<00:00, 9.47MB/s]

,Organization Name,NY Reg #,EIN,Registrant Type,City,State
0,None,None,None,None,None,None
1,"""Forever Captain Poodaman"" The Ahmad Butler Fo...",48-07-16,843800926,NFP,PHILADELPHIA,PA
2,"""R"" S.U.C.C.E.S.S. Foundation Inc.",49-06-59,874012670,NFP,ROCHESTER,NY
3,"""Studio 5404"" Inc.",44-39-58,463180470,NFP,MASSAPAQUA,NY
4,"""THEY ARE HAITIAN"" FUND, INC.",20-63-46,300170128,NFP,HUDSON,NY
5,"""Y"" Dive, Inc.",48-45-01,854252095,NFP,SAINT ALBANS,NY
6,(ASMA) American Syrian Multicultural Associati...,42-84-63,273130182,NFP,BROOKLYN,NY
7,#FeedHamburg,48-37-35,854150318,NFP,HAMBURG,NY
8,#HicksStrong Inc.,48-10-48,842612081,NFP,CLIFTON PARK,NY
9,#WalkAway Foundation,47-15-80,832820906,NFP,CARLSBAD,CA
10,04/11 10:17 PM test,47-13-95,206256427,NFP,ALBANY,NY
11,1/20/21 Action Fund,46-99-13,832210730,NFP,SAN FRANCISCO,CA
12,"10/40 Connections, Inc.",45-70-15,621825230,NFP,HIXSON,TN
13,"1000 Feet Project, Inc",45-00-14,473820859,NFP,NEW YORK,NY
14,1000 Islands Hose Haulers,45-38-38,454570241,NFP,CARTHAGE,NY
15,"1004 Foundation, Inc.",45-00-13,463110658,NFP,LONG ISLAND CITY,NY

In [6]:
import os
import boto3

# Set your AWS access keys
os.environ['AWS_ACCESS_KEY_ID'] = 'AKIARCNCQBJYVFLBG22P'
os.environ['AWS_SECRET_ACCESS_KEY'] = 'lMIIL1ZP6kQdGk0J6KF3NHfhG2dNIjO/v9sbGTEj'

In [7]:
def create_s3_bucket(bucket_name, region=None):
    s3 = boto3.client('s3', region_name=region)
    
    if region is None or region == 'us-east-1':
        s3.create_bucket(Bucket=bucket_name)
    else:
        s3.create_bucket(Bucket=bucket_name, CreateBucketConfiguration={'LocationConstraint': region})

    print(f"S3 bucket '{bucket_name}' created in region '{region}'.")

In [9]:
bucket_name = 'information-arch-dengyi-liu-assignment-m10'
region = 'us-east-1'
create_s3_bucket(bucket_name, region)

S3 bucket 'information-arch-dengyi-liu-assignment-m10' created in region 'us-east-1'.

In [11]:
###LOAD THE FILE INTO S3####
# prepare csv file name   
pathname = 's3://information-arch-dengyi-liu-assignment-m10/'#specify location of s3:/{my-bucket}/
filename= 'charities_bureau_scrape_' #name of your group
datetime = time.strftime("%Y%m%d%H%M%S") #timestamp
filenames3 = "%s%s%s.csv"%(pathname,filename,datetime) #name of the filepath and csv file

#load file into s3. Pandas actually leverages boto to connect to s3 and can push the file directly into an s3 bucket
df.to_csv(filenames3, header=True, line_terminator='\n') 

#print success message
print("Successfull uploaded file to location:"+str(filenames3))

Successfull uploaded file to location:s3://information-arch-dengyi-liu-assignment-m10/charities_bureau_scrape_20230406211301.csv

In [12]:
df = df.drop(df.index[0])
df

,Organization Name,NY Reg #,EIN,Registrant Type,City,State
1,"""Forever Captain Poodaman"" The Ahmad Butler Fo...",48-07-16,843800926,NFP,PHILADELPHIA,PA
2,"""R"" S.U.C.C.E.S.S. Foundation Inc.",49-06-59,874012670,NFP,ROCHESTER,NY
3,"""Studio 5404"" Inc.",44-39-58,463180470,NFP,MASSAPAQUA,NY
4,"""THEY ARE HAITIAN"" FUND, INC.",20-63-46,300170128,NFP,HUDSON,NY
5,"""Y"" Dive, Inc.",48-45-01,854252095,NFP,SAINT ALBANS,NY
6,(ASMA) American Syrian Multicultural Associati...,42-84-63,273130182,NFP,BROOKLYN,NY
7,#FeedHamburg,48-37-35,854150318,NFP,HAMBURG,NY
8,#HicksStrong Inc.,48-10-48,842612081,NFP,CLIFTON PARK,NY
9,#WalkAway Foundation,47-15-80,832820906,NFP,CARLSBAD,CA
10,04/11 10:17 PM test,47-13-95,206256427,NFP,ALBANY,NY
11,1/20/21 Action Fund,46-99-13,832210730,NFP,SAN FRANCISCO,CA
12,"10/40 Connections, Inc.",45-70-15,621825230,NFP,HIXSON,TN
13,"1000 Feet Project, Inc",45-00-14,473820859,NFP,NEW YORK,NY
14,1000 Islands Hose Haulers,45-38-38,454570241,NFP,CARTHAGE,NY
15,"1004 Foundation, Inc.",45-00-13,463110658,NFP,LONG ISLAND CITY,NY

In [13]:
pathname = 's3://information-arch-dengyi-liu-assignment-m10/'#specify location of s3:/{my-bucket}/
filename= 'charities_bureau_scrape_' #name of your group
datetime = time.strftime("%Y%m%d%H%M%S") #timestamp
filenames3 = "%s%s%s.csv"%(pathname,filename,datetime) #name of the filepath and csv file

#load file into s3. Pandas actually leverages boto to connect to s3 and can push the file directly into an s3 bucket
df.to_csv(filenames3, header=True, line_terminator='\n') 

#print success message
print("Successfull uploaded file to location:"+str(filenames3))

Successfull uploaded file to location:s3://information-arch-dengyi-liu-assignment-m10/charities_bureau_scrape_20230406211452.csv

In [16]:
from io import StringIO

bucket_name = 'information-arch-dengyi-liu-assignment-m10'
file_key = 'charities_bureau_scrape_20230406211452.csv'

s3 = boto3.client('s3')
obj = s3.get_object(Bucket=bucket_name, Key=file_key)
data = obj['Body'].read().decode('utf-8')

df = pd.read_csv(StringIO(data))

In [17]:
df

,Unnamed: 0,Organization Name,NY Reg #,EIN,Registrant Type,City,State
0,1,"""Forever Captain Poodaman"" The Ahmad Butler Fo...",48-07-16,843800926,NFP,PHILADELPHIA,PA
1,2,"""R"" S.U.C.C.E.S.S. Foundation Inc.",49-06-59,874012670,NFP,ROCHESTER,NY
2,3,"""Studio 5404"" Inc.",44-39-58,463180470,NFP,MASSAPAQUA,NY
3,4,"""THEY ARE HAITIAN"" FUND, INC.",20-63-46,300170128,NFP,HUDSON,NY
4,5,"""Y"" Dive, Inc.",48-45-01,854252095,NFP,SAINT ALBANS,NY
5,6,(ASMA) American Syrian Multicultural Associati...,42-84-63,273130182,NFP,BROOKLYN,NY
6,7,#FeedHamburg,48-37-35,854150318,NFP,HAMBURG,NY
7,8,#HicksStrong Inc.,48-10-48,842612081,NFP,CLIFTON PARK,NY
8,9,#WalkAway Foundation,47-15-80,832820906,NFP,CARLSBAD,CA
9,10,04/11 10:17 PM test,47-13-95,206256427,NFP,ALBANY,NY
10,11,1/20/21 Action Fund,46-99-13,832210730,NFP,SAN FRANCISCO,CA
11,12,"10/40 Connections, Inc.",45-70-15,621825230,NFP,HIXSON,TN
12,13,"1000 Feet Project, Inc",45-00-14,473820859,NFP,NEW YORK,NY
13,14,1000 Islands Hose Haulers,45-38-38,454570241,NFP,CARTHAGE,NY
14,15,"1004 Foundation, Inc.",45-00-13,463110658,NFP,LONG ISLAND CITY,NY